<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfPoeChallengeTracker.Properties.WindowSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WpfPoeChallengeTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WpfPoeChallengeTracker.Properties.WindowSettings>
            <setting name="Width" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>750</value>
            </setting>
        </WpfPoeChallengeTracker.Properties.WindowSettings>
        <WpfPoeChallengeTracker.Properties.Settings>
            <setting name="CompletedChallenges" serializeAs="String">
                <value>SORT_TO_END</value>
            </setting>
            <setting name="ViewStatus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewOptions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewChallenges" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>750</value>
            </setting>
            <setting name="SelectedLeague" serializeAs="String">
                <value>Prophecy</value>
            </setting>
        </WpfPoeChallengeTracker.Properties.Settings>
    </userSettings>
</configuration>